// HTML Tag Mixins
@mixin html_mix {
}

@mixin body_mix {
}

@mixin header_mix {
}

@mixin nav_mix {
}

@mixin h1_mix {
  @include font_mix;
}

@mixin ul_mix {
}

@mixin li_mix {
  list-style: none;
}

@mixin a_mix {
  color: white !important;
  text-transform: uppercase !important;
}

// Font Mixins

@mixin font_mix {
  font-family: "Muli", sans-serif !important;
  font-weight: 300 !important;
  font-size: 18px !important;
}
