// HTML Tag Mixin Bank
@mixin html_mix {
}

@mixin body_mix {
}

@mixin header_mix {
}

@mixin nav_mix {
}

@mixin ul_mix {
}

@mixin li_mix {
  list-style: none;
}

@mixin a_mix {
  color: white !important;
  text-transform: uppercase !important;
}
