// NavBar

@media (min-width: 1281px) {
  //CSS
}

@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  //CSS
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  #wht_nav_logo {
    height: 80px;
  }

  a {
    @include a_mix;
    font-size: 14px;
  }

  h1 {
    font-size: 14px !important;
  }

  .btn:link,
  .btn:visited {
    display: inline-block;
    padding: 5px 15px;
    margin: 2.5px;
    font-size: 40%;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid white;
    color: white;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
  }

  .btn:hover,
  .btn:active {
    background-color: white;
    color: black !important;
    border: 1px solid black;
  }
}
