@media (max-width: 666px) and (orientation: landscape) {
  // SECTION ONE
  #wht_nav_logo {
    height: 70px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 90%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 67%;
  }

  h1 {
    font-size: 18px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 100% !important;
    padding: 5px 15px !important;
  }

  //  SECTION TWO
  .sec-title {
    font-size: 21px !important;
  }

  .lead {
    font-size: 16px !important;
  }

  .card-title {
    font-size: 18px !important;
  }

  .card-text {
    font-size: 16px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // SEMI BREAK
  #semi-break {
    background-position: 50% 63%;
    height: 65vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 5px !important;
  }
}

@media (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
  // SECTION ONE

  #wht_nav_logo {
    height: 75px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 90%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 65%;
  }

  h1 {
    font-size: 20px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 100% !important;
    padding: 7px 17px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // SECTION TWO

  .sec-title {
    font-size: 21px !important;
  }

  .lead {
    font-size: 16px !important;
  }

  .card-title {
    font-size: 18px !important;
  }

  .card-text {
    font-size: 16px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-position: 50% 63%;
    height: 65vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 5px !important;
  }
}

@media (min-width: 736px) and (max-width: 811px) and (orientation: landscape) {
  // SECTION ONE

  #wht_nav_logo {
    height: 75px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 95%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 65%;
  }

  h1 {
    font-size: 20px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 100% !important;
    padding: 7px 17px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }
  // SECTION TWO

  .sec-title {
    font-size: 21px !important;
  }

  .lead {
    font-size: 18px !important;
  }

  .card-title {
    font-size: 18px !important;
  }

  .card-text {
    font-size: 18px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-position: 50% 63%;
    height: 65vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 5px !important;
  }
}

@media (min-width: 812px) and (max-width: 1023px) and (orientation: landscape) {
  // SECTION ONE

  #wht_nav_logo {
    height: 71px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 95%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 65%;
  }

  h1 {
    font-size: 20px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 100% !important;
    padding: 7px 17px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // SECTION TWO

  .sec-title {
    font-size: 21px !important;
  }

  .lead {
    font-size: 18px !important;
  }

  .card-title {
    font-size: 15px !important;
  }

  .card-text {
    font-size: 12.5px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-position: 50% 60%;
    height: 70vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 25px !important;
  }

  #contact-h6 {
    font-size: 17px !important;
  }

  #contact-h5 {
    font-size: 13px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  // SECTION ONE
  #wht_nav_logo {
    height: 95px;
    margin-left: 15px;
  }

  .quote {
    font-size: 120% !important;
    padding: 5px 15px !important;
  }

  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }
  // SEMI BREAK
  #semi-break {
    background-position: 50% 90%;
    height: 55vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 25px !important;
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  // SECTION ONE
  #tank_blast {
    background-attachment: fixed;
  }

  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }

  // SEMI BREAK
  #semi-break {
    background-attachment: fixed;
  }

  // SECTION FOUR
  #contact-bg-image {
    background-attachment: fixed;
  }

  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }
}
