@media (max-width: 374px) and (orientation: portrait) {
  // SECTION ONE
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_sm_phone.png");
  }

  #wht_nav_logo {
    height: 70px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 95%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 10px !important;
    top: 55%;
  }

  h1 {
    font-size: 16px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 90% !important;
    padding: 5px 15px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // SECTION TWO
  .sec-title {
    font-size: 21px !important;
  }

  .lead {
    font-size: 14px !important;
  }

  .card-title {
    font-size: 16px !important;
  }

  .card-text {
    font-size: 14px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 5px !important;
  }

  #contact-h6 {
    font-size: 16px !important;
  }

  #g-logo-quote-box {
    height: 120px;
    width: 120px;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) and (orientation: portrait) {
  // SECTION ONE
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_phone.png");
  }

  #wht_nav_logo {
    height: 70px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 95%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 55%;
  }

  h1 {
    font-size: 16px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 90% !important;
    padding: 8px 20px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // SECTION TWO

  .sec-title {
    font-size: 21px !important;
  }

  .lead {
    font-size: 15px !important;
  }

  .card-title {
    font-size: 17px !important;
  }

  .card-text {
    font-size: 16px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 5px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
  // SECTION ONE
  #wht_nav_logo {
    height: 80px;
    margin-left: 15px;
  }

  h1 {
    font-size: 27px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  // SECTION ONE

  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_ipad.png");
  }

  .react-link {
    @include react_link_mix;
    font-size: 110%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 55%;
  }

  h1 {
    font-size: 30px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 110% !important;
    padding: 10px 25px !important;
  }

  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }

  // SECTION TWO

  .card-title {
    font-size: 16px !important;
  }

  .card-text {
    font-size: 14px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 25px !important;
  }

  #contact-h5 {
    font-size: 14px !important;
  }

  #contact-h6 {
    font-size: 17.5px !important;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  // SECTION ONE

  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_ipad.png");
  }

  .react-link {
    @include react_link_mix;
    font-size: 110%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 55%;
  }

  h1 {
    font-size: 35px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 110% !important;
    padding: 10px 25px !important;
  }

  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE
  #logo-comment-mg {
    margin-top: 27px !important;
  }
}
