@media (max-width: 374px) and (orientation: portrait) {
  // SECTION ONE - HEADER

  // BG
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)),
      url("../images/tank/tank_sm_phone.png");
  }

  // ALTERNATE LINKS BASED ON DISPLAY
  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // NAVBAR
  #wht_nav_logo {
    height: 70px;
    margin-left: 17px;
  }

  .navbar-toggler {
    padding: 15px !important;
  }

  .navbar-nav .nav-link {
    padding-right: 17px !important;
  }

  .react-link {
    font-size: 85%;
  }

  // HEADER
  .roma-hero {
    margin: 0 !important;
  }

  h1 {
    font-size: 100% !important;
    letter-spacing: 1px;
    margin-bottom: 12px !important;
  }

  .quote {
    font-size: 90% !important;
    padding: 5px 15px !important;
  }

  // SECTION TWO
  .section-two {
    padding-bottom: 20px !important;
  }

  // SERVICES TITLE
  .sec-title {
    font-size: 21px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .sec-title-hr {
    margin-bottom: 20px !important;
  }

  .lead-container {
    margin-bottom: 20px !important;
  }

  .lead {
    font-size: 13.5px !important;
  }

  // SERVICE CARDS

  .serv-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .card-title {
    font-size: 15px !important;
  }

  .card-text {
    font-size: 14px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE

  .info-sec {
    margin-bottom: 10px !important;
  }

  #contact-h6 {
    font-size: 16px !important;
  }

  #g-logo-quote-box,
  #g-logo-quote-box-sub {
    height: 135px;
    width: 135px;
    margin: 0 !important;
  }

  .below-q-logo-margin {
    padding-bottom: 20px !important;
  }

  .form-message {
    font-size: 14px !important;
  }

  #count {
    font-size: 14px !important;
  }

  .quote-deck {
    padding-top: 20px !important;
  }

  //  SECTION FIVE

  .faq {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
  }

  .q-and-img-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 10px !important;
  }

  .question {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 0px;
    margin: auto;
  }

  .question-img {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
    margin: auto;
  }

  .faq-answer {
    font-size: 16px;
  }

  // SECTION SIX - FOOTER
  .footer-ul {
    font-size: 9px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) and (orientation: portrait) {
  // SECTION ONE

  // BG
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_phone.png");
    background-position: 50% 65%;
  }

  // ALTERNATE LINKS BASED ON DISPLAY
  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // NAVBAR
  #wht_nav_logo {
    height: 70px;
    margin-left: 15px;
  }

  .navbar-toggler {
    font-size: 22px !important;
    padding: 15px !important;
  }

  .navbar-nav .nav-link {
    padding-right: 17px !important;
  }

  .react-link {
    font-size: 90%;
  }

  // HEADER
  .roma-hero {
    margin: 0 !important;
    top: 48%;
  }

  h1 {
    font-size: 19px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 90% !important;
    padding: 7px 18px !important;
  }

  // SECTION TWO

  // SERVICES TITLE
  .sec-title {
    font-size: 21px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .sec-title-hr {
    margin-bottom: 20px !important;
  }

  .lead-container {
    margin-bottom: 20px !important;
  }

  .lead {
    font-size: 13.5px !important;
  }

  // SERVICE CARDS
  .serv-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .card-title {
    font-size: 15px !important;
  }

  .card-text {
    font-size: 14px !important;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE

  .info-sec {
    margin-bottom: 10px !important;
  }

  #contact-h6 {
    font-size: 18px !important;
  }

  #g-logo-quote-box,
  #g-logo-quote-box-sub {
    height: 145px;
    width: 145px;
    margin: 0 !important;
  }

  .below-q-logo-margin {
    padding-bottom: 20px !important;
  }

  .form-message {
    font-size: 14px !important;
  }

  #count {
    font-size: 14px !important;
  }

  .quote-deck {
    padding-top: 20px !important;
  }

  //  SECTION FIVE

  .faq {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
  }

  .q-and-img-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 10px !important;
  }

  .question {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 0px;
    margin: auto;
  }

  .question-img {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
    margin: auto;
  }

  .faq-answer {
    font-size: 16px;
  }
  // SECTION SIX - FOOTER
  .footer-ul {
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
  // SECTION ONE
  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }

  // BG
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_phone.png");
    background-position: 40% 55%;
  }

  // NAVBAR
  #wht_nav_logo {
    height: 75px;
    margin-left: 15px;
  }

  .navbar-toggler {
    font-size: 22px !important;
    padding: 15px !important;
  }

  .navbar-nav .nav-link {
    padding-right: 17px !important;
  }

  .react-link {
    font-size: 110%;
  }

  // HEADER
  .roma-hero {
    top: 46%;
  }

  h1 {
    font-size: 25px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 18px !important;
    padding: 8px 22px !important;
  }

  // SECTION TWO

  // SERVICES TITLE
  .sec-title {
    font-size: 21px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .sec-title-hr {
    margin-bottom: 20px !important;
  }

  .lead-container {
    margin-bottom: 20px !important;
  }

  .lead {
    font-size: 15px !important;
  }

  // SERVICE CARDS
  .serv-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .card-title {
    font-size: 15px !important;
  }

  .card-text {
    font-size: 14px !important;
  }

  // SECTION THREE - GALLERY
  .column-gal {
    flex: 50%;
    max-width: 50%;
  }

  // SECTION FOUR - CONTACT/QUOTE

  .info-sec {
    margin-bottom: 20px !important;
  }

  #contact-h6 {
    font-size: 19px !important;
  }

  #g-logo-quote-box,
  #g-logo-quote-box-sub {
    height: 150px;
    width: 150px;
    margin: 0 !important;
  }

  .below-q-logo-margin {
    padding-bottom: 20px !important;
  }

  .form-message {
    font-size: 15px !important;
  }

  #count {
    font-size: 15px !important;
  }

  .quote-deck {
    padding-top: 20px !important;
  }

  // SECTION FIVE

  .question {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .question-img {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  // SECTION SIX - FOOTER
  .footer-ul {
    font-size: 11px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  // SECTION ONE

  // BG
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_ipad.png");
  }

  // ALTERNATE LINKS BASED ON DISPLAY
  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }

  // NAVBAR
  #wht_nav_logo {
    height: 100px;
    margin-left: 15px;
  }

  .navbar-toggler {
    font-size: 25px !important;
    padding: 15px !important;
  }

  .navbar-nav .nav-link {
    padding-right: 17px !important;
  }

  .react-link {
    font-size: 100%;
  }

  // HEADER

  h1 {
    font-size: 30px !important;
    letter-spacing: 1.5px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 110% !important;
    padding: 10px 25px !important;
  }

  // SECTION TWO

  // SERVICES TITLE
  .sec-title {
    font-size: 21px !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .sec-title-hr {
    margin-bottom: 25px !important;
  }

  .lead-container {
    margin-bottom: 25px !important;
  }

  .lead {
    font-size: 16px !important;
  }

  // SERVICE CARDS
  .card-title {
    font-size: 16px !important;
  }

  .card-text {
    font-size: 15px !important;
  }

  .serv-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE

  .info-sec {
    margin-bottom: 20px !important;
  }

  #g-logo-quote-box,
  #g-logo-quote-box-sub {
    height: 160px;
    width: 160px;
    margin: 0 !important;
  }

  .hours-padding {
    padding: 0 !important;
  }

  .form-message {
    font-size: 15px !important;
  }

  #count {
    font-size: 15px !important;
  }

  // SECTION FIVE

  .question {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .question-img {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  // SECTION SIX - FOOTER
  .footer-ul {
    font-size: 12px !important;
    margin: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  // SECTION ONE

  // BG
  #tank_blast {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_ipad.png");
  }

  // ALTERNATE LINKS BASED ON DISPLAY
  .desktop-link {
    display: block;
  }

  .mobile-link {
    display: none;
  }

  // NAVBAR
  #wht_nav_logo {
    height: 100px;
    margin-left: 15px;
  }

  .react-link {
    font-size: 110%;
  }

  // SECTION TWO

  // SERVICES TITLE
  .sec-title {
    font-size: 130% !important;
    font-weight: 300 !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .sec-title-hr {
    margin-bottom: 25px !important;
  }

  .lead-container {
    margin-bottom: 25px !important;
  }

  .lead {
    font-size: 18px !important;
  }

  // SERVICE CARDS
  .card-title {
    font-size: 19px !important;
  }

  .card-text {
    font-size: 17px !important;
  }

  .serv-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  // SECTION THREE - GALLERY
  .column-gal {
    flex: 50%;
    max-width: 50%;
  }

  // SEMI BREAK
  #semi-break {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/semi/semi_new.png");
    background-position: 93% 0%;
    transform: rotateY(180deg);
    height: 45vh;
  }

  // SECTION FOUR - CONTACT/QUOTE

  .info-sec {
    margin-bottom: 20px !important;
  }

  .contact-info {
    font-size: 17px !important;
  }

  #g-logo-quote-box,
  #g-logo-quote-box-sub {
    height: 180px;
    width: 180px;
    margin: 0 !important;
  }

  .form-message {
    font-size: 16px !important;
  }

  #count {
    font-size: 16px !important;
  }

  // SECTION FIVE

  .question {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .question-img {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  // SECTION SIX - FOOTER
  .footer-ul {
    font-size: 13px !important;
    margin: auto;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
