@media (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
  // SECTION ONE

  .section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_sm_phone.png");
  }

  #wht_nav_logo {
    height: 70px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 95%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 10px !important;
    top: 55%;
  }

  h1 {
    font-size: 16px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 90% !important;
    padding: 5px 15px !important;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 375px) and (max-width: 575.98px) and (orientation: portrait) {
  // SECTION ONE

  .section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_phone.png");
  }

  #wht_nav_logo {
    height: 70px;
    margin-left: 15px;
  }

  .react-link {
    @include react_link_mix;
    font-size: 95%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 55%;
  }

  h1 {
    font-size: 16px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
  }

  .quote {
    font-size: 90% !important;
    padding: 8px 20px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
  // SECTION ONE
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  // SECTION ONE

  .section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_ipad.png");
  }

  .react-link {
    @include react_link_mix;
    font-size: 110%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 55%;
  }

  h1 {
    font-size: 30px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 110% !important;
    padding: 10px 25px !important;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  // SECTION ONE

  .section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../images/tank/tank_ipad.png");
  }

  .react-link {
    @include react_link_mix;
    font-size: 110%;
    margin-right: 15px;
  }

  .roma-hero {
    margin-left: 12px !important;
    top: 55%;
  }

  h1 {
    font-size: 35px !important;
    letter-spacing: 1px;
    margin-bottom: 13px !important;
  }

  .quote {
    font-size: 110% !important;
    padding: 10px 25px !important;
  }
}
