#third-bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/tank/tank.png");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#contact-card {
  color: $roma_white;
  font-weight: 400 !important;
  //   margin-top: 50px !important;
}

.lead-contact {
  margin-bottom: 30px;
}

.info-decoration {
  @include font_mix;
  color: white !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}

h4 {
  font-size: 18px;
  font-weight: 200 !important;
}

h5 {
  font-size: 16px !important;
  font-weight: 200 !important;
}

.contact-hr {
  border-top: 1px solid white;
}
.contact-title {
  margin-top: 50px;
}

.card {
  background-color: rgba(200, 200, 200, 0.3) !important;
}

.card-header,
.card-footer {
  opacity: 1 !important;
}
