.faq-1 {
  transition: box-shadow 0.3s;
  margin-bottom: 20px !important;
}

.faq-1:hover {
  box-shadow: 4px 4px 8px 5px rgba(179, 179, 179, 0.336) !important;
  background-color: white !important;
}

.faq {
  @include font_mix;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.faq:hover .faq-img-button {
  opacity: 1;
  transform: rotate(-180deg);
}

.faq:focus {
  outline: none !important;
}

.q-and-img-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  grid-column-start: 1;
  grid-column-end: 12;
  padding-left: 20px;
}

.question-img {
  grid-column-start: 12;
  grid-column-end: 13;
}

.faq-img-button {
  height: 23px;
  width: 54.125px;
  opacity: 0.5;
  transform: rotate(0deg);
  transition: transform 0.3s, opacity 0.5s;
}

.faq-answer {
  @include font_mix;
  font-size: 20px;
  font-weight: 300;
}

.answer-hr {
  margin-top: 0 !important;
}

.last-faq {
  padding-bottom: 100px !important;
}

button {
  background-color: white !important;
}
