.image-gallery {
  margin-top: 30px;
  margin-bottom: 35px;
}

.row-gal {
  display: flex;
  flex-wrap: wrap;
}
.overflow {
  overflow: hidden;
}

.column-gal {
  flex: 25%;
  max-width: 25%;
  background-color: black;
  overflow: hidden;
}

.column-gal img {
  vertical-align: middle;
  width: 100%;
  opacity: 0.6;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.column-gal img:hover {
  opacity: 1;
  transform: scale(1.03);
}

@media screen and (max-width: 800px) {
  .column-gal {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column-gal {
    flex: 100%;
    max-width: 100%;
  }
}
