// Navbar SCSS
nav {
  padding: 0 !important;
}
.nav-font {
  @include font_mix;
}

.navbar-brand {
  padding: 0 !important;
}

#wht_nav_logo {
  height: 100px;
}

li {
  @include li_mix;
  padding-left: 40px;
}

.react-link {
  @include react_link_mix;
  cursor: pointer;
}

// Nav Scroll Change

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: rgba(0, 0, 0, 0.7) !important;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: black !important;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: black !important;
}
