//  Card Styling
.card {
  border: none !important;
}

.card-body {
  @include font_mix;
  font-weight: 200;
  font-size: 20px;
}

.card-title {
  @include font_mix;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
}

.card-text {
  @include font_mix;
  font-weight: 200;
}
